body {
    background-color:rgb(182, 182, 182)
}
h1 {
    text-align:center;
    text-shadow:3px 3px 6px black;
}
a {
    color:black;
    text-decoration:none;
    font-size:30px;
    font-style:italic;
    margin-left:10px;
}

nav a {
    position: relative;
    width: max-content;
    border: none;
    color: black;
    text-decoration: none;
    font-size: 23px;
    margin-right: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a:hover {
    text-shadow:2px 2px 3px #36e6ff;
    color:#005bff
}
nav a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: linear-gradient(to right,#36e6ff,#16a9ff);
    border-radius: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 100ms
}

nav a:hover::after {
    width: 100%;
}

.links {
    background-color:#0034ff;
    box-shadow:3px 3px 6px black;
    border-radius:12px;
    border:2px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: max-content;
    align-items: center;
}
small {
    margin-left:850px
}
.card {
    width: 30%;
    background: linear-gradient(to top,#36e6ff,#005bff);
    border: 3px solid black;
    border-radius: 8px;
    padding: 20px;
    transition:300ms;
    font-size:20px;
}
hr {
    margin-top:10px;
}
.card:hover {
    background: linear-gradient(to top,#005bff ,#36e6ff );
    box-shadow:3px 3px 6px black;
}
.card a {
    font-style:normal;
    font-size:20px;
}
input[type="text"], input[type="password"]{
    border-radius:10px;
    width:30%;
    height:20px;
    transition:100ms;   
}

input[type="text"], input[type="password"]:focus{
    background-color:#79e9f8;
    color:black;
}
input[type="submit"] {
    color:black;
    background-color:forestgreen;
    width:30%;
    height:30px;
    border-radius:80px;
    margin-top:20px;
    transition:100ms;
}
input[type="submit"]:hover {
    background-color:#23b023;
    box-shadow:2px 2px 3px black;
}
.card2 {
    width:15%;
    border:1px solid black;
    padding-right:10px;
    background-color:#133ad1;
    border-radius:12px;
    transition: 300ms;
}
.plus a:hover{
    color:#1bae1b;
    text-shadow:1px 1px 1px forestgreen;
}
.sprite a {
    color: forestgreen;
    position: relative;
    border: none;
    width: max-content;
    text-decoration: none;
    font-size: 23px;
    margin-right: 10px;
}
.sprite a::after {
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    border-radius:100%;
    width:0%;
    height:3px;
    background:linear-gradient(to top,#1bae1b,#80ff80);
    transition:100ms;
}
.sprite a:hover::after {
    width:100%;
}
.sprite a:hover{
    color:white;
    text-shadow:1px 1px 2px green; 
}
.login a {
    background:linear-gradient(to top,#0034ff,#708dff);
    color: white;
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
    text-shadow: 0px 0px 2px black;
    border-radius: 15px;
    box-shadow: 0px 1px 10px black;
}
.login a:hover {
    background:linear-gradient(to top,#f71515,#ffadad);
    color:#ffffff;
    transition:300ms;
    box-shadow:0px 3px 10px black
}

.profile{
    margin: auto;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    font-style: normal;
    display: flex;
    justify-content: center;
    flex-wrap:nowrap;
}
.but{
    width: 200px;
    height: 200px;
    background:linear-gradient(to top,#f8f8f8,#c5c5c5);
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;
}
.card2Boss{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:20px
}
.card2:hover{
    box-shadow: 0px 0px 3px black;
    border-radius: 24px;
}
.glass{
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.searchRes{
    color:white;
    text-decoration: dotted;
    transition: 300ms;
}
.searchRes:hover{
    color:#1bae1b
}
