<!DOCTYPE html>
<html>
<head>
    <title>catalogue error</title>
    <style>
        body{
            background-color: #727272;
        }
        h1{
            color:red;
            text-shadow: 1px 1px 1px black;
            font-size: 32px;
        }
        a{
            color:red;
            text-decoration: none;
        }
        .father{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20
        }
    </style>
</head>
<body>
    <h1>oops, catalogue null</h1>
    <br>
    <a href="/">home</a>
</body>
</html>