<!DOCTYPE html>
<html>
<head>
    <title>change avatar</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
</head>
<body>
    <h1>Change!</h1>
    your avatar: <img src="{{url_for('static',filename = 'avatars/' + image)}}", width="70">
    <form method="post">
        <div class="but">
            {{form.hidden_tag()}}
            {{form.csrf_token}}
            {{ form.change() }}
            {% for error in form.change.errors %}
                <span>{{error}}</span>
            {% endfor %}
            {{form.submit()}}
            <br>
        </div>
    </form>
    <a href="/profile">back</a>
</body>
</html>
    