<!DOCTYPE html>
<html>
<head>
    <title>Shop Water</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Shop of water</h1>        
    <div class="card2Boss">
        <div class="links">
            <nav>
                <a href="/how_admin">info</a>
                <a href="/cart">Cart</a>
                <a href="/catalog">cataloge</a>
                <a href="/search">search</a>
                <a href="/account">account</a>
            </nav>
            <div class="sprite">
                <a href="/sprite">Sprite!!!</a>
            </div>
        </div>
    </div>
    <hr>
    <small>order by @OM3SHKA</small>
</body>
</html>