<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h1>Sign in</h1>
        <form method="post">
            {{form.csrf_token}}
            {{form.login.label}}
            <br>
            {{form.login()}}
            <br>
            {{form.password.label}}
            <br>
            {{form.password()}}
            <br>
            <nav>
                {{form.submit()}} you new? <a href="/registration">make account</a>
            </nav>
        </form>
    </div>
    <hr>
    <small>order by OM3SHKA</small>
</body>
</html>