<!DOCTYPE html>
<html>
<head>
    <title>new password</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}" >
</head>
<body>
    <h1>Forgot</h1>
    <form method='post'>
        <div class="card2Boss">
            <div class="glass">
                {{form.csrf_token}}
                {{form.password_new(placeholder="new password")}}
                <br>
                {{form.password_new.label}}
                <br>
                {{form.submit()}}
                {{form.user_id()}}
            </div>
        </div>
    </form>
    <a href="/">home</a>
</body>
</html>
