<!DOCTYPE html>
<html>
<head>
    <title>registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card2Boss">
        <div class="card">
            <h1>registration</h1>
            <form method="post">
                {{form.csrf_token}}
                {{form.login.label}}
                <br>
                {{form.login()}}
                <br>
                {{form.password.label}}
                <br>
                {{form.password()}}forgot password?<a href="/forgot_password">reset</a>
                <br>
                {{form.email.label}}
                <br>
                {{form.email()}}
                <br>
                <nav>
                    {{form.submit()}}<a href="/">home</a>
                </nav>
            </form> 
        </div>
    </div>
    <hr>
    <small>order by OM3SHKA</small>
</body>
</html>
